LID_Framework/.vs/LID_Framework/v16/.suo
LID_Framework/.vs/LID_Framework/v16/Server/sqlite3/storage.ide-shm
LID_Framework/.vs/LID_Framework/v16/Server/sqlite3/storage.ide-wal
LID_Framework/LID_ClassLibrary/bin/Debug/LID_ClassLibrary.dll
LID_Framework/LID_ClassLibrary/bin/Debug/LID_ClassLibrary.pdb
LID_Framework/LID_ClassLibrary/obj/Debug/LID_ClassLibrary.csproj.FileListAbsolute.txt
LID_Framework/LID_ClassLibrary/obj/Debug/LID_ClassLibrary.csprojAssemblyReference.cache
LID_Framework/LID_ClassLibrary/obj/Debug/LID_ClassLibrary.dll
LID_Framework/LID_ClassLibrary/obj/Debug/LID_ClassLibrary.pdb
LID_Framework/LID_WebApp/obj/Debug/netcoreapp3.0/LID_WebApp.assets.cache
LID_Framework/LID_WebApp/obj/Debug/netcoreapp3.0/LID_WebApp.csprojAssemblyReference.cache
LID_Framework/LID_WebApp/obj/LID_WebApp.csproj.nuget.cache
LID_Framework/LID_WebApp/obj/LID_WebApp.csproj.nuget.dgspec.json
LID_Framework/LID_WebApp/obj/LID_WebApp.csproj.nuget.g.props
LID_Framework/LID_WebApp/obj/project.assets.json
LID_Framework/LID_WinForm/bin/Debug/app.publish/LID_WinForm.exe
LID_Framework/LID_WinForm/bin/Debug/config.txt
LID_Framework/LID_WinForm/bin/Debug/LID_ClassLibrary.dll
LID_Framework/LID_WinForm/bin/Debug/LID_ClassLibrary.pdb
LID_Framework/LID_WinForm/bin/Debug/LID_WinForm.application
LID_Framework/LID_WinForm/bin/Debug/LID_WinForm.exe
LID_Framework/LID_WinForm/bin/Debug/LID_WinForm.exe.manifest
LID_Framework/LID_WinForm/bin/Debug/LID_WinForm.pdb
LID_Framework/LID_WinForm/bin/Debug/Resources/about.txt
LID_Framework/LID_WinForm/obj/Debug/LID_WinForm.application
LID_Framework/LID_WinForm/obj/Debug/LID_WinForm.csproj.FileListAbsolute.txt
LID_Framework/LID_WinForm/obj/Debug/LID_WinForm.csproj.GenerateResource.cache
LID_Framework/LID_WinForm/obj/Debug/LID_WinForm.csprojAssemblyReference.cache
LID_Framework/LID_WinForm/obj/Debug/LID_WinForm.exe
LID_Framework/LID_WinForm/obj/Debug/LID_WinForm.exe.manifest
LID_Framework/LID_WinForm/obj/Debug/LID_WinForm.pdb
LID_Framework/LID_WinForm/obj/Debug/LID_WinForm.Properties.Resources.resources
LID_Framework/LID_WinForm/obj/Debug/LID_WinForm.TrustInfo.xml
LID_Framework/.vs/LID_Framework/v16/Server/sqlite3/storage.ide
LID_Framework/.vs/LID_Framework/v16/Server/sqlite3/storage.ide-shm
LID_Framework/.vs/LID_Framework/v16/Server/sqlite3/storage.ide-wal
LID_Framework/.vs/LID_Framework/DesignTimeBuild/.dtbcache
.vscode/tasks.json
.vscode/launch.json
LID_Framework/LID_WebApp/obj/Debug/netcoreapp3.0/project.razor.json
