@page
@model LID_WebApp.Pages.AboutModel
@{
    ViewData["Title"] = "About";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">ABOUT</h1>
    <p>FOR RESEARCH AND EDUCATIONAL PURPOSES ONLY</p>
    <div class="text-left">
        <p>Developed By:<br />2/c Hayden Carter<br />2/c Luke Arsenault<br />2/c Maylis Yepez<br />2/c Chrisopher Rosselot<br />2/c Thomas Hardy</p>
    </div>
</div>