@page
@model LID_WebApp.Pages.DownloadsModel
@{
    ViewData["Title"] = "Downloads";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

    <div class="text-center text-body">
        <h1>Downloads</h1>
        <p>KMLs</p>
        <p>Test1</p>
        <a href="https://lidstoragetesting.file.core.windows.net/kml/2019-12-04_ICEBERGS.kml" download="2019-12-04_ICEBERGS.KML">Download KML 1</a>
        <a href="https://lidstoragetesting.file.core.windows.net/kml/2019-12-04_ICEBERGS.kml?sp=rl&st=2019-12-04T16:04:53Z&se=2019-12-31T05:00:00Z&sv=2019-02-02&sig=fy4NWJ6LJDg5Xv130rqoPzE5blJu4VdoeQ1EeuBtg7o%3D&sr=f" download="2019-12-04_ICEBERGS.kml">Download KML 2</a>
        <p>Test2</p>
        <a href="https://lidstoragetesting.file.core.windows.net/kml/2019-12-04_ICEBERGS.zip" download="2019-12-04_ICEBERGS.zip">Download Archive 1</a>
        <a href="https://lidstoragetesting.file.core.windows.net/kml/2019-12-04_ICEBERGS.zip?sp=rl&st=2019-12-04T16:06:48Z&se=2019-12-31T05:00:00Z&sv=2019-02-02&sig=E4xCHLjiVYkkaEYovlrzwZ%2BZql7J1%2FtmoYybeFz8Lss%3D&sr=f" download="2019-12-04_ICEBERGS.zip">Download Archive 2</a>
        <p>Desktop Application Archive</p>
        <a href="https://lidstoragetesting.file.core.windows.net/kml/LIDAPP.zip?sp=rl&st=2019-12-04T17:12:18Z&se=2019-12-31T05:00:00Z&sv=2019-02-02&sig=VpapzQkAADiLwiykCW9Ipl%2BewrW6SghcBAre3aZEtjs%3D&sr=f" download="LID.zip">Download Desktop Application</a>
    </div>
