@page
@model LID_WebApp.Pages.DownloadsModel
@{
    ViewData["Title"] = "Downloads";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

    <div class="text-center text-body">
        <h1>Downloads</h1>
        <p>KMLs</p>
        <p>Test1</p>
        <a href="https://lidstoragetesting.file.core.windows.net/kml/2019-11-22_ICEBERGS.kml" download="2019-11-12_ICEBERGS.KML">Download KML 1</a>
        <a href="https://lidstoragetesting.file.core.windows.net/kml/2019-11-22_ICEBERGS.kml?sp=rl&st=2019-11-22T18:08:06Z&se=2019-11-23T18:08:06Z&sv=2019-02-02&sig=%2BeWHrho4bVgr0%2B3kYHc4sXe2%2FnQN%2BA2rs5NE7OHzaGo%3D&sr=f" download="2019-11-19_ICEBERGS.kml">Download KML 2</a>
        <p>Test2</p>
        <a href="https://lidstoragetesting.file.core.windows.net/kml/2019-11-22_ICEBERGS.zip" download="2019-11-12_ICEBERGS.zip">Download Archive 1</a>
        <a href="https://lidstoragetesting.file.core.windows.net/kml/2019-11-22_ICEBERGS.zip?sp=rl&st=2019-11-22T18:08:49Z&se=2019-11-23T18:08:49Z&sv=2019-02-02&sig=ewRsJ%2FcXZ50MFvdkxOimvDVt3Tx7IHKhtS8dwFQcs2M%3D&sr=f" download="2019-11-19_ICEBERGS.kml">Download Archive 2</a>
        <p>Other</p>
    </div>
