@page
@model LID_WebApp.Pages.DownloadsModel
@{
    ViewData["Title"] = "Downloads";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

    <div class="text-center text-body">
        <h1>Downloads</h1>
        <p>KMLs</p>
        <p>Test1</p>
        <a href="https://lidstoragetesting.file.core.windows.net/kml/2019-11-12_ICEBERGS.kml?st=2019-11-20T12%3A23%3A55Z&se=2019-11-21T12%3A23%3A55Z&sp=rl&sv=2018-03-28&sr=f&sig=5SztH8KWUXyr0qfdrxfg7QjHZtG5TYbE%2FbjkwzSlChY%3D" download="2019-11-12_ICEBERGS.KML">2019-11-12_ICEBERGS.KML</a>
        <a href="https://lidstoragetesting.file.core.windows.net/kml/2019-11-19_ICEBERGS.kml?st=2019-11-20T12%3A23%3A17Z&se=2019-11-21T12%3A23%3A17Z&sp=rl&sv=2018-03-28&sr=f&sig=EHW%2BOUo1Jtfns9anM0%2F0YRSnuYNoKpJoHAhIcBOv9DU%3D" download="2019-11-19_ICEBERGS.kml">2019-11-19_ICEBERGS.KML</a>
        <p>Test2</p>
        <a href="https://lidstoragetesting.file.core.windows.net/kml/2019-11-12_ICEBERGS.kml" download="2019-11-12_ICEBERGS.KML">2019-11-12_ICEBERGS.KML</a>
        <a href="https://lidstoragetesting.file.core.windows.net/kml/2019-11-19_ICEBERGS.kml" download="2019-11-19_ICEBERGS.kml">2019-11-19_ICEBERGS.KML</a>
        <p>Other</p>
    </div>
