@page
@model LID_WebApp.Pages.DownloadsModel
@{
    ViewData["Title"] = "Downloads";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

    <div class="text-center text-body">
        <h1>Downloads</h1>
        <p>KMLs</p>
        <a href="Pages\KMLs\2019-11-13_ICEBERGS.kml" download="Today.kml">Today's KML</a>
        <a href="C:\Users\Carbon-Tower\Desktop\USCGA\Academia\2019 Fall\Software Engineering\Github\Projects\LIDUSCGASE\LID_Framework\LID_WebApp\bin\Debug\netcoreapp3.0\Pages\KMLs" download="2019-11-12_ICEBERGS.kml">2019-11-12_ICEBERGS.KML</a>
        <p>Other</p>
    </div>
