@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/57/Seal_of_the_United_States_Coast_Guard.svg/1200px-Seal_of_the_United_States_Coast_Guard.svg.png" width="50" height="50" />
    <span style="font-size:200%;">   LID   </span>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/57/Seal_of_the_United_States_Coast_Guard.svg/1200px-Seal_of_the_United_States_Coast_Guard.svg.png" width="50" height="50" />

    <p>Welcome</p>
    <img src="https://octavianreport.com/wp-content/uploads/2017/08/iceberg.jpg" width="200" height="200" />
    <p>https://octavianreport.com/wp-content/uploads/2017/08/iceberg.jpg<br /></p>

    <p>Today's <a href="https://www.navcen.uscg.gov/?pageName=iipB12Out">bulletin</a>. Today's <a href="https://www.navcen.uscg.gov/?pageName=iipCharts&Current">chart</a>.</p>
    <p>The LID project is a system for the daily conversion of data released<br />by the IIP and Canadian Ice Service for personal or commercial use.</p>
    <iframe src="https://www.google.com/maps/d/embed?mid=1sgpyQbS7_qVKUzXmX2XdcwfMMxgJhSF6" width="640" height="480"></iframe>
</div>
