@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">LID</h1>
        <p>Today's <a href="https://www.navcen.uscg.gov/?pageName=iipB12Out">bulletin</a>. Today's <a href="https://www.navcen.uscg.gov/?pageName=iipCharts&Current">chart</a>.</p>
        <p>The LID project is a system for the daily conversion of data released<br />by the IIP and Canadian Ice Service for personal or commercial use.</p>
        <iframe src="https://www.google.com/maps/d/embed?mid=1sgpyQbS7_qVKUzXmX2XdcwfMMxgJhSF6" width="640" height="480"></iframe>
    </div>
