@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>We will be recording site usage statistics such as number of hits and the number of unique IP addresses that have accessed the site.</p>
